.input[type='submit'] {
	float: right;
	background-color: #818181;
	color: #d5d5d5;
	cursor: pointer;
	font: 13px/30px Arial, Helvetica, sans-serif;
	height: 30px;
	border: 0;
	margin: 0;
	padding: 0 10px;
}
.td {
	text-align: right;
}